@model IDictionary<DateTime, IList<NBPApiClientCore.ICurrencyRate>>

@{
    ViewData["Title"] = "Aktualny kurs";
}
<div>
    <h2>Aktualne kursy walut z NBP</h2>
        @foreach (var currencyList in @Model)
        {
            @currencyList.Key
            <br/>
            <table class="table">

            @foreach (var currencyRate in @currencyList.Value)
             {
                 <tr>
                     <td>@currencyRate.Waluta</td>
                     <td>@currencyRate.Kod</td>
                     <td>@currencyRate.Kurs</td>
                 </tr>
             }
            </table>

        }
</div>